body {
  margin: 0;
  overflow: hidden; }

#circio {
  display: flex; }

.controls-container {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: #FFFFFF; }
  .controls-container .controls {
    padding-top: 25px; }
  .controls-container .actions {
    position: fixed; }

.control-group {
  border-left: 10px solid #444;
  border-bottom: 1px solid #444; }

.control label {
  font-size: 12px;
  padding: 5px 10px;
  width: 120px;
  display: inline-block; }

.control input[type=text] {
  width: 120px; }

.control input[type=number] {
  width: 120px; }

.store {
  display: none;
  position: absolute;
  top: 40px;
  right: 40px;
  left: 40px;
  bottom: 40px;
  background: #EEE;
  overflow-y: scroll; }
  .store .listing {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row; }
    .store .listing .circ {
      width: 200px;
      height: 200px;
      background: #FFF;
      margin: 10px;
      position: relative;
      cursor: pointer; }
      .store .listing .circ canvas {
        position: absolute; }
      .store .listing .circ .circName {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center; }

.quick-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 25px;
  left: 10px;
  right: 300px; }
  .quick-controls .control-group {
    border: none; }
